/**
 * Main Menu
 */
.menu,
.user-account {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu {
	margin-left: 80px;
}
.menu li {
	float: left;
	margin-right: 1px;
}
.menu li a,
.user-account li a {
	color: #fff;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
}
.menu li a:hover,
.menu li.active a,
.user-account li a:hover {
	background: #6ABBF0;
	text-decoration: none;
} 
/** User Account **/
.user-account {
	margin-right: 90px;
}
.user-account li {
	display: inline-block;
}

/** Button Upload **/
.btn-upload {
	position: absolute;
	right: 15px;
	bottom: 3px;
}